body {
  margin: 0;
}

h1 {
  font-size: 1em;
  margin: 0.5em 0;
}

h2 {
  font-size: 1.2em;
  margin: 0.1em 0;
}

h3 {
  font-size: 0.7em;
  margin: 0.5em 0;
}

/* App.css */
.App {
  text-align: center;
  padding: 1em 1em;
  min-height: 100vh;
  background: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em;
  padding: 2em;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 1em;
}

.cp_ipselect {
  position: relative;
  max-width: 30%;
  margin: 0.5em auto;
  text-align: center;
  background-color: rgb(151, 201, 221);
}
.cp_sl06 {
  position: relative;
  font-family: inherit;
  background-color: transparent;
  width: 100%;
  padding: 10px 10px 10px 0;
  font-size: 1em;
  border-radius: 0;
  border: none;
  text-align: center;
}
.cp_sl06:focus {
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}
.cp_ipselect .cp_sl06 {
  appearance: none;
  -webkit-appearance: none;
}

.cp_ipselect:after {
  position: absolute;
  top: 0.8em;
  right: 10px;
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

.btn {
  margin-top: 1em;
  padding: 1em 2em;
  font-size: 1em;
  color: white;
  background: #61dafb;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
  transition: background 0.3s;
}

.btn:hover {
  background: #b3fdff;
}

.btn.show {
  background: #ffa502;
}

.btn.show:hover {
  background: #ffc048;
}

.btn.next {
  background: #2ed573;
}

.btn.next:hover {
  background: #58e892;
}

.number {
  margin: 0.5em;
  width: 90%;
  padding: 1em;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0.3em;
  transition: background 0.3s;
}

.big-number {
  font-size: 9rem;
}

.number:hover {
  background: rgba(255, 255, 255, 0.2);
}

.now {
  font-size: 3rem;
  background: #ffa502;
}

.area {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.btn-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 2em;
  cursor: pointer;
}

.image-area {
  width: 100%;
  height: auto;
}

.text-area {
  margin-top: 8px;
  text-align: center;
  font-size: 0.4em;
}

.no-margin {
  margin: 0;
}